<div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-primary border-bottom box-shadow">
  <img class="mb-4" src="../../assets/img/icons/logo.svg" alt="logo-img" width="32" height="18">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-light" [routerLink]="['/']">Медицинская клиника</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-light" [routerLink]="['/']">Главная</a>
    <a *ngIf="authService.isloggedIn()" class="p-2 text-light" [routerLink]="['/dashboard']">Личный кабинет</a>
    <a *ngIf="authService.isloggedIn()" class="p-2 text-light" [routerLink]="['/list']">Пациенты</a>
  </nav>
  <a *ngIf="!authService.isloggedIn()" class="btn btn-outline-light mr-4" [routerLink]="['/auth']">Войти</a>
  <a *ngIf="!authService.isloggedIn()" class="btn btn-outline-warning mr-4" [routerLink]="['/reg']">Регистрация</a>
  <a *ngIf="authService.isloggedIn()" class="btn btn-outline-danger" (click)="logoutUser()">Выйти</a>
</div>
