.figure {
  position: relative;
  width: 100%;
  height: 440px;
  overflow: hidden;
  color: black;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.main-bg {
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
}
